<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Compact Contacts</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="actions">
    <div class="d-flex justify-content-around">
      <div *ngFor="let action of actions" class="p-2 btn btn-outline-primary" (click)="action.func()">
        {{ action.title }}</div>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Company</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.company }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ formatPhoneNumber(contact.phone) }}</td>
        <td>{{ contact.address }}</td>
      </tr>
    </tbody>
  </table>

  <div #successMessage class="alert alert-success alert-dismissible fade show">
    <strong>Thank you!</strong> We've successfully saved your contact info.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>

</div>

<router-outlet></router-outlet>
